<div  class = "small-menu">
	<div (click)="onItemClick()" class="petit-menu-item">
		<img src="../../assets/pickup-truck-side-view.svg" alt="" />
		<p>Desocier le Vehicle</p>
	</div>
	<div class="divider"></div>
	<div (click)="onItemClick()" class="petit-menu-item">
		<img src="../../assets/gps2.svg" alt="" />
		<p>Desocier le GPS</p>
	</div>
	<div class="divider"></div>
	<div (click)="onItemClick()" class="petit-menu-item">
		<img src="../../assets/Icon awesome-sitemap.svg" alt="" />
		<p>Desocier le entite</p>
	</div>
	<div class="divider"></div>
	<div (click)="onItemClick()" class="petit-menu-item">
		<img src="../../assets/Icon awesome-history.svg" alt="" />
		<p>Historique</p>
	</div>
	<div class="divider"></div>
	<div (click)="onItemClick()" class="petit-menu-item">
		<img src="../../assets//Icon material-edit.svg" alt="" />
		<p>Editer</p>
	</div>
	<div class="divider"></div>
	<div (click)="onItemClick()" class="petit-menu-item">
		<img src="../../assets/Icon material-delete.svg" alt="" />
		<p>Supprimer</p>
	</div>
</div>

