<div class="background">
	<div class="wrapper">
		<div class="login-box">
			<img src='../../assets/Calque 2.svg' alt="logo" />
			<form class="login-form">
				<input class="form-field" type="text" placeholder="Adresse e-mail" />
				<input type="password" class="form-field" placeholder="mot de passe" />

				<div class="login-button">
					<p>Se connecter</p>
					<img src="../../assets/Icon ionic-ios-arrow-forward.svg" alt="icon-forward" />
				</div>
			</form>

			<p>Mot de passe oublie?</p>
		</div>
	</div>
</div>
