

.sidebar-brand{
	display: flex;
	justify-content: space-between;
	padding: 2rem 1.5rem;
	align-items: center;
}

.sidebar-brand.logo1 {
	width: 139px;
	height: 46px;
	object-fit: contain;
}

.sidebar-brand.logo2{
	width: 609px;
	height: 69px;
	/* object-fit: contain; */
}



.sidebar-menu-items{
	list-style: none;
	/* background-color: brown; */
	padding-left: 1.5rem;
	
}

/* menu link  */
.item{
	display: flex;
	align-items: flex-start;
	padding: .1rem .1rem;
	color: #044289;
	margin: .5rem;
	width: 250px;
}

.item:hover{
	background: transparent linear-gradient(271deg, #CBEBFB 0%, #1B579F 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 14px #0000003D;
	border-radius: 0px 16px 16px 0px;
	opacity: 1;
	cursor: pointer;
	color: #FFFFFF;
	width: 250px;
	
}



.item:hover svg path{
	/* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
	fill: #FFFFFF !important;
}


.item p {
	text-align: left;
	font: normal normal 600 1rem Titillium Web;
	/* letter-spacing: .5px; */
	margin-bottom: .25rem;
	margin-top: 0;
	padding-bottom: 0;
	margin-left: 1rem;
}

.active-link{
	background: transparent linear-gradient(271deg, #CBEBFB 0%, #1B579F 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 14px #0000003D;
	border-radius: 0px 16px 16px 0px;
	opacity: 1;
	cursor: pointer;
	color: #FFFFFF;
}

.active-link svg path{
	/* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
	fill: #FFFFFF !important;
}