<div class="history-items">
	<div class="history-wrapper">
		<div class="left-side">
			<img src="../../assets/pickup-truck-history.svg" alt="truck">
		</div>
	
		<div class="right-side">
			<h1>Association de Vehicule</h1> 
			<div class="description">
				<p>No. Matricule: <span>6612A6</span></p>
				<p>Statut: <span>En Panne</span></p>
				<p>Kilometrage: <span>100 000 KM</span></p>
				<p>Caburant: <span>45.2 L / 70 L</span></p>	
			</div>
			<div class="item-bottom">
				<div class="start">
					<img src="../../assets/Icon awesome-calendar-alt-1.svg" alt="cal"/>
					<p>15 / 10 / 2021 </p>
					<p>23:12 </p>
				</div>
	
				<div class="end">
					<h2> À : </h2>
					<p class="en-cours">En cours... </p>
					
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="divider"></div>
	
	<div class="history-wrapper">
		<div class="left-side">
			<img src="../../assets/gps2-1.svg" alt="truck">
		</div>
	
		<div class="right-side">
			<h1>Association de boitier GPS</h1> 
			<div class="description">
				<p>Boitiers GPS: <span>86917034054792</span></p>
				<p>Statut: <span>En Panne</span></p>
				<p>Kilometrage: <span>100 000 KM</span></p>
				<p>Caburant: <span>45.2 L / 70 L</span></p>	
			</div>
			<div class="item-bottom">
				<div class="start">
					<img src="../../assets/Icon awesome-calendar-alt-1.svg" alt="cal"/>
					<p>15 / 10 / 2021 </p>
					<p>23:12 </p>
				</div>
	
				<div class="end">
					<h2> À : </h2>
					<p class="en-cours">En cours... </p>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="divider"></div>
	
	<div class="history-wrapper">
		<div class="left-side">
			<img src="../../assets/Icon awesome-sitemap-9.svg" alt="truck">
		</div>
	
		<div class="right-side">
			<h1>Association de l'entite</h1> 
			<div class="description">
				<p>Entite: <span>ONEE <small>></small> Parce central(NB) <small>></small> Centre B2</span></p>
				<p>Statut: <span>En Panne</span></p>
				<p>Kilometrage: <span>100 000 KM</span></p>
				<p>Caburant: <span>45.2 L / 70 L</span></p>	
			</div>
			<div class="item-bottom">
				<div class="start">
					<img src="../../assets/Icon awesome-calendar-alt-1.svg" alt="cal"/>
					<p>15 / 10 / 2021 </p>
					<p>23:12 </p>
				</div>
	
				<div class="end">
					<h2> À : </h2>
					<p class="en-cours">En cours... </p>
					
				</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>

	<div class="history-wrapper">
		<div class="left-side">
			<img src="../../assets/pickup-truck-side-view.svg" alt="truck">
		</div>
	
		<div class="right-side dissociation">
			<h1>Dissociation de Vehicule</h1> 
			<div class="description">
				<p>No. Matricule: <span>6612A6</span></p>
				<p>Statut: <span>En Panne</span></p>
				<p>Kilometrage: <span>200 000 KM</span></p>
				<p>Caburant: <span >45.2 L / 70 L</span></p>	
			</div>
			<div class="item-bottom">
				<div class="start">
					<img src="../../assets/Icon awesome-calendar-alt-1.svg" alt="cal"/>
					<p>15 / 10 / 2021 </p>
					<p>23:12 </p>
				</div>
	
				<div class="end">
					<h2> À : </h2>
					<p class="">01 / 09 / 2022 </p>
					
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="divider"></div>
	
	<div class="history-wrapper">
		<div class="left-side">
			<img src="../../assets/gps2.svg" alt="truck">
		</div>
	
		<div class="right-side dissociation">
			<h1>Dissociation de boitier GPS</h1> 
			<div class="description">
				<p>Boitiers GPS: <span>86917034054792</span></p>
				<p>Statut: <span>En Panne</span></p>
				<p>Kilometrage: <span>340 000 KM</span></p>
				<p>Caburant: <span>45.2 L / 70 L</span></p>	
			</div>
			<div class="item-bottom">
				<div class="start">
					<img src="../../assets/Icon awesome-calendar-alt-1.svg" alt="cal"/>
					<p>15 / 10 / 2021 </p>
					<p>23:12 </p>
				</div>
	
				<div class="end">
					<h2> À : </h2>
					<p class="">01 / 09 / 2022</p>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="divider"></div>
	
	<div class="history-wrapper">
		<div class="left-side">
			<img src="../../assets/Icon awesome-sitemap.svg" alt="truck">
		</div>
	
		<div class="right-side dissociation">
			<h1>Dissociation de l'entite</h1> 
			<div class="description">
				<p>Entite: <span>ONEE <small>></small> Parce central(NB) <small>></small> Centre B2</span></p>
				<p>Statut: <span>En Panne</span></p>
				<p>Kilometrage: <span>370 000 KM</span></p>
				<p>Caburant: <span>45.2 L / 70 L</span></p>	
			</div>
			<div class="item-bottom">
				<div class="start">
					<img src="../../assets/Icon awesome-calendar-alt-1.svg" alt="cal"/>
					<p>15 / 10 / 2021 </p>
					<p>23:12 </p>
				</div>
	
				<div class="end">
					<h2> À : </h2>
					<p class="">01 / 09 / 2022</p>
					
				</div>
			</div>
		</div>
	</div>
	
</div>