.home{

	display: flex;
	
}
.content-area{
	width: 1644px;
	padding: 1rem;
}

.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
}


.title{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.title h1{
	text-align: left;
	font: normal normal 600 1.5rem/1rem Titillium Web;
	letter-spacing: 0px;
	color: #1B579F;
	padding: 0 1rem;
}

.profile{
	display: flex;
	justify-content: start;
	align-items: flex-start;
	padding-top: .5rem;

}
.profile-info{
	flex: 1;
	margin: 0 .6rem;
}
.profile-info h4{
	
	text-align: left;
	font: normal normal 600 16px/22px Noto Sans;
	letter-spacing: 0px;
	color: #1B579F;
}

.profile-info p {
	text-align: left;
font: normal normal normal 16px/22px Noto Sans;
letter-spacing: 0px;
color: #878787;
}

/* filter section  */
.filter-section{
	margin-top: 5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	
}
.filt{
	border-bottom: 1px solid #636363;
	margin: 0 1rem;
	display: flex;
	align-items: center;
	padding-bottom: .5rem;
	
}
.filt-object{
	text-align: left;
	font: normal normal normal 12px/24px Titillium Web;
	letter-spacing: 0px;
	color: #636363;
	border: none;
	background: none;
}

.filt input{
	margin-left:.5rem;
	max-width: 6rem;
}

.filter-action-button{
	min-width: 38px;
	min-height: 38px;
	background: #D6D6D6 0% 0% no-repeat padding-box;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: .5rem;
	

}

.filter-button{
	padding:0 .5rem;
	color: #636363;
	font: normal normal normal 12px/24px Titillium Web;
}


/* middle section  */

.mid-section{
	display: flex;
}
.mid-section-left, .mid-section-right{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 6px #00000038;
	border-radius: 9px;
	padding: .6rem 1rem;
	max-width: 523px;
	display: flex;
	margin: 1rem;
	display: flex;
	align-items: center;
}

.left-item{
	display: flex;
	align-items: center;
	
}

.toggle{
	margin-left: 1rem;
}

.left-item p{
	text-align: left;
	font: normal normal 600 16px/24px Titillium Web;
	letter-spacing: 0px;
	color: #1B579F;
	margin-bottom: 0;
}

.mid-section-right p{
	font: normal normal 600 16px/24px Titillium Web;
	color: #1B579F;
	margin-bottom: 0;
}

.mid-section-right input{
	border: none;
	background-color: transparent;
	color: #5B5B5B;
	text-align: center;
}
.mid-section-right input::-webkit-calendar-picker-indicator{
	display: none;

}

.from-date{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}

.end-date{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
}

